<!DOCTYPE html>
<html lang="pt-br">
	<head>
		<base href='/cliente/'>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		 <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
		<link rel="icon" href="./img/sunsoll.png">
		<title>Studio Soll Artesanatos</title>

 		<!-- Google font -->
 		<link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700" rel="stylesheet">

 		<!-- Bootstrap -->
 		<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css"/>

 		<!-- Slick -->
 		<link type="text/css" rel="stylesheet" href="css/slick.css"/>
 		<link type="text/css" rel="stylesheet" href="css/slick-theme.css"/>

 		<!-- nouislider -->
 		<link type="text/css" rel="stylesheet" href="css/nouislider.min.css"/>

 		<!-- Font Awesome Icon -->
 		<link rel="stylesheet" href="css/font-awesome.min.css">

 		<!-- Custom stlylesheet -->
 		<link type="text/css" rel="stylesheet" href="css/style.css"/>

 		<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
 		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
 		<!--[if lt IE 9]>
 		  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
 		  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
 		<![endif]-->

    </head>
	<body>
		<!-- HEADER -->
		<header>
			<!-- TOP HEADER -->
			<div id="top-header">
				<div class="container">
					<ul class="header-links pull-left">
						<li><a href="https://web.whatsapp.com/send?phone=999967412" target="_blank"><i class="fa fa-whatsapp"></i> (53) 999967412</a></li>
						<li><a href="https://instagram.com/studiosollartesanatos?igshid=ZmRlMzRkMDU="><i class="fa fa-instagram"></i> @studiosollartesanatos</a></li>
						<li><a href="https://www.google.com.br/maps/@-31.3109924,-54.1129319,3a,75y,54.68h,84.93t/data=!3m6!1e1!3m4!1so09rELnOH1uLoA0xTQ7MCg!2e0!7i16384!8i8192"><i class="fa fa-map-marker"></i> Av Espanha 439</a></li>
					</ul>
					</ul>
					<ul class="header-links pull-right">
						<%if(typeof Admin == 'undefined'){%>
							<li><a href="/login"><i class="fa fa-user"></i>Entrar</a></li>
							<li><a href="/cadastro"><i class="fa fa-user-plus"></i>Cadastrar</a></li>
						<%}%>
						<%if(typeof Admin !== 'undefined'){%>
							<li><a href="/logout"><i class="fa fa-user"></i>Sair</a></li>
						<%}%>	
					</ul>
				</div>
			</div>
			<!-- /TOP HEADER -->

			<!-- MAIN HEADER -->
			<div id="header">
				<!-- container -->
				<div class="container">
					<!-- row -->
					<div class="row">
						<!-- LOGO -->
						<div class="col-md-3">
							<div class="header-logo">
								<a href="/" class="logo">
									<img src="./img/logo.png" alt="">
								</a>
							</div>
						</div>
						<!-- /LOGO -->

						<!-- SEARCH BAR -->
						<div class="col-md-6">
							<div class="header-search">
								<form>
									<input class="input" id="header-redondo" placeholder="Digite o que você deseja...">
									<button class="search-btn">Buscar</button>
								</form>
							</div>
						</div>
						<!-- /SEARCH BAR -->

						<!-- ACCOUNT -->
						<div class="col-md-3 clearfix">
							<div class="header-ctn">
								
								<!-- Wishlist -->
								<div class="dropdown">
									<a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
										<i class="fa fa-heart-o"></i>
										<span>Desejos</span>
										<div class="qty">1</div>
									</a>
									<div class="cart-dropdown">
										<div class="cart-list">
											<!--Inicio do for do carrinho-->
											<div class="product-widget">
												<div class="product-img">
													<img src="./img/product01.png" alt="">
												</div>
												<div class="product-body">
													<h3 class="product-name"><a href="#">product name goes here</a></h3>
													<h4 class="product-price"><span class="qty">1x</span>R$980.00</h4>
												</div>
												<button class="delete"><i class="fa fa-close"></i></button>
											</div>
											<!--fim do for do carrinho-->
										</div>
										<div class="cart-summary">
											<small>1 Item(s) selecionados</small>
											<h5>SUBTOTAL: R$980.00</h5>
										</div>
										<div class="cart-btns">
											<a href="#">Adicionar ao Carrinho  <i class="fa fa-arrow-circle-right"></i></a>
										</div>
									</div>
								</div>
								<!-- /Wishlist -->

								<!-- Cart -->
								<div class="dropdown">
									<a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
										<i class="fa fa-shopping-cart"></i>
										<span>Carrinho</span>
										<div class="qty">1</div>
									</a>
									<div class="cart-dropdown">
										<div class="cart-list">
											<!-- Inicio do For do carrinho-->
											<div class="product-widget">
												<div class="product-img">
													<img src="./img/product01.png" alt="">
												</div>
												<div class="product-body">
													<h3 class="product-name"><a href="#">product name goes here</a></h3>
													<h4 class="product-price"><span class="qty">1x</span>R$980.00</h4>
												</div>
												<button class="delete"><i class="fa fa-close"></i></button>
											</div>
											<!-- Fim do for do carrinho-->											
										</div>
										<div class="cart-summary">
											<small>1 Item(s) selecionados</small>
											<h5>SUBTOTAL: R$980.00</h5>
										</div>
										<div class="cart-btns">
											<a href="/checkout">Checkout  <i class="fa fa-arrow-circle-right"></i></a>
										</div>
									</div>
								</div>
								<!-- /Cart -->

								<!-- Menu Toogle -->
								<div class="menu-toggle">
									<a href="#">
										<i class="fa fa-bars"></i>
										<span>Menu</span>
									</a>
								</div>
								<!-- /Menu Toogle -->
							</div>
						</div>
						<!-- /ACCOUNT -->
					</div>
					<!-- row -->
				</div>
				<!-- container -->
			</div>
			<!-- /MAIN HEADER -->
		</header>
		<!-- /HEADER -->

		<!-- NAVIGATION -->
		<nav id="navigation">
			<!-- container -->
			<div class="container">
				<!-- responsive-nav -->
				<div id="responsive-nav">
					<!-- NAV -->
					<ul class="main-nav nav navbar-nav">
						<li class="active"><a href="/">Home</a></li>
						<li><a href="/store">Produtos</a></li>
						<li><a href="/checkout">Checkout</a></li>
						<li><a href="/login">Entrar</a></li>
						<li><a href="/perfil">Perfil</a></li>
					</ul>
					<!-- /NAV -->
				</div>
				<!-- /responsive-nav -->
			</div>
			<!-- /container -->
		</nav>
		<!-- /NAVIGATION -->

		<!-- BREADCRUMB -->
		<div id="breadcrumb" class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">
					<div class="col-md-12">
						<h3 class="breadcrumb-header">Editar</h3>
						<ul class="breadcrumb-tree">
							<li><a href="/">Home</a></li>
							<li class="active">EDITA</li>
						</ul>
					</div>
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /BREADCRUMB -->
	<form method="POST">
		<div class="lol">
			<div class="col">
				<label for="exampleInputEmail1" class="form-label-name"></label>
				<input type="hidden" name="txtId" class="form-control" aria-label="First name" readonly value="<%=Admin._id%>">
			  </div><br>
			<div class="col">
			  <label for="exampleInputEmail1" class="form-label-name">Nome</label>
				<input type="text" name="txtNome" class="form-control" placeholder="Nome" aria-label="First name" required value="<%=Admin.nome%>">
			</div><br>
			<div class="col">
			  <label for="exampleInputEmail1" class="form-label-name">Sobrenome</label>
			  <input type="text" name="txtSobrenome" class="form-control" placeholder="Sobrenome" aria-label="Last name" required value="<%=Admin.sobrenome%>">
			</div>
		  </div>
		  <br>
			<div class="mb-3">
			  <label for="exampleInputEmail1" class="form-label">Endereço de Email</label>
			 <input type="email" name="txtEmail" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Digite seu Email" required value="<%=Admin.email%>">
			  <div id="emailHelp" class="form-text">Nunca compartilharemos seu e-mail com ninguém.</div>
			</div><br>
			<div class="mb-3">
				<div class="form-group field-one">	
			<input type="password" name="txtSenha" class="form-control" id="PasswordC" placeholder="Digite sua Senha" required value="<%=Admin.senha%>">
				<i class="fa fa-eye" id="eye" onclick="mostrarOcultarSenha()" oaria-hidden="true"></i>
			  	</div>
			</div>
		  <div class="mb-3 form-check">
			<input type="checkbox" class="form-check-input" id="exampleCheck1" required>
			<label class="form-check-label" for="exampleCheck1">Estou ciente e CONCORDO com os termos e políticas de privacidade</label>
		  </div>
		  <div class="mb-4">
			<button type="submit" class="btn btn-primary" style="background-color: #FDB900">Editar Dados</button>
			</div>		 
		<br>
				<!-- API endereço --> 
				
		  <div class="input-checkbox">
			<input type="checkbox" id="shiping-address">
			<div class="alinhar">
			<label for="shiping-address">
				<span></span>
				 Deseja cadastrar seu endereço? (opcional)
			</label></div>
			<div class="caption">
				
		<script>
			function limpa_formulário_cep() {
					//Limpa valores do formulário de cep.
					document.getElementById('rua').value=("");
					document.getElementById('bairro').value=("");
					document.getElementById('cidade').value=("");
					document.getElementById('uf').value=("");
			}
		
			function meu_callback(conteudo) {
				if (!("erro" in conteudo)) {
					//Atualiza os campos com os valores.
					document.getElementById('rua').value=(conteudo.logradouro);
					document.getElementById('bairro').value=(conteudo.bairro);
					document.getElementById('cidade').value=(conteudo.localidade);
					document.getElementById('uf').value=(conteudo.uf);
				} //end if.
				else {
					//CEP não Encontrado.
					limpa_formulário_cep();
					alert("CEP não encontrado.");
				}
			}
				
			function pesquisacep(valor) {
		
				//Nova variável "cep" somente com dígitos.
				var cep = valor.replace(/\D/g, '');
		
				//Verifica se campo cep possui valor informado.
				if (cep != "") {
		
					//Expressão regular para validar o CEP.
					var validacep = /^[0-9]{8}$/;
		
					//Valida o formato do CEP.
					if(validacep.test(cep)) {
		
						//Preenche os campos com "..." enquanto consulta webservice.
						document.getElementById('rua').value="...";
						document.getElementById('bairro').value="...";
						document.getElementById('cidade').value="...";
						document.getElementById('uf').value="...";
		
						//Cria um elemento javascript.
						var script = document.createElement('script');
		
						//Sincroniza com o callback.
						script.src = 'https://viacep.com.br/ws/'+ cep + '/json/?callback=meu_callback';
		
						//Insere script no documento e carrega o conteúdo.
						document.body.appendChild(script);
		
					} //end if.
					else {
						//cep é inválido.
						limpa_formulário_cep();
						alert("Formato de CEP inválido.");
					}
				} //end if.
				else {
					//cep sem valor, limpa formulário.
					limpa_formulário_cep();
				}
			};
			</script>

			<div class="mb-5">
			<form method="post" action=".">
				<div class="form-group">
					<input class="input" type="text" id="cep" value="" cep="first-name" placeholder="Digite seu CEP" onblur="pesquisacep(this.value);">
				</div>
				<div class="form-group">
					<input class="input" name="txtRua" type="text" id="rua" placeholder="Rua">
				</div>
				<div class="form-group">
					<input class="input" name="txtBairro" type="text" id="bairro" placeholder="Bairro">
				</div>
				<div class="form-group">
					<input class="input" name="txtCidade" type="text" id="cidade" placeholder="Cidade">
				</div>
				<div class="form-group">
					<input class="input" name="txtEstado"type="text" id="uf" placeholder="Estado">
				</div>
				<div class="form-group">
					<input class="input" name="txtComple"type="text" id="" placeholder="Complemento">
				</div>
				<div class="form-group">
					<input class="input" name="txtNumero" type="text" id="num" placeholder="Digite seu Número">
				</div>
			</form>
			</div>
		</form>
		</div>

		<!-- SECTION -->
		<div class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /SECTION -->

		<!-- NEWSLETTER -->
		<div id="newsletter" class="section">
	
		</div>
		<!-- /NEWSLETTER -->

		<!-- FOOTER -->
		<footer id="footer">
			<!-- top footer -->
			<div class="section">
				<!-- container -->
				<div class="container">
					<!-- row -->
					<div class="row">
						<div class="col-md-3 col-xs-6">
							<div class="footer">
								<h3 class="footer-title">Sobre Nós</h3>
								<p>Somos uma microempresa bageense, especializada em produtos artesanais. </p>
								<ul class="footer-links">
									<li><a href="#"><i class="fa fa-phone"></i> (53) 999967412</a></li>
									<li><a href="#"><i class="fa fa-instagram"></i> @studiosollartesanatos</a></li>
						<li><a href="#"><i class="fa fa-map-marker"></i> Av Espanha 439</a></li>
								</ul>
							</div>
						</div>

						<div class="col-md-3 col-xs-6">
							<div class="footer">
								<h3 class="footer-title">Categorias</h3>
								<ul class="footer-links">
									<li><a href="#">Tábuas</a></li>
									<li><a href="#">Colares</a></li>
									<li><a href="#">Abajures</a></li>
									<li><a href="#">Quadros em Mdf</a></li>
									<li><a href="#">Mandalas</a></li>
								</ul>
							</div>
						</div>

						<div class="clearfix visible-xs"></div>

						<div class="col-md-3 col-xs-6">
							<div class="footer">
								<h3 class="footer-title">Informações</h3>
								<ul class="footer-links">
									<li><a href="#">Sobre</a></li>
									<li><a href="#">Contatos</a></li>
									<li><a href="#">Política de Privacidade</a></li>
									<li><a href="#">Devolução</a></li>
									<li><a href="#">Termos & Condições</a></li>
								</ul>
							</div>
						</div>

						<div class="col-md-3 col-xs-6">
							<div class="footer">
								<h3 class="footer-title">Serviços</h3>
								<ul class="footer-links">
									<li><a href="#">Minha Conta</a></li>
									<li><a href="#">Ver Carrinho</a></li>
									<li><a href="#">Lista de Desejos</a></li>
									<li><a href="#">Checar Pedidos</a></li>
									<li><a href="#">Ajuda</a></li>
								</ul>
							</div>
						</div>
					</div>
					<!-- /row -->
				</div>
				<!-- /container -->
			</div>
			<!-- /top footer -->

			<!-- bottom footer -->
			<div id="bottom-footer" class="section">
				<div class="container">
					<!-- row -->
					<div class="row">
						<div class="col-md-12 text-center">
							<ul class="footer-payments">
								<li><a href="#"><i class="fa fa-cc-visa"></i></a></li>
								<li><a href="#"><i class="fa fa-credit-card"></i></a></li>
								<li><a href="#"><i class="fa fa-cc-paypal"></i></a></li>
								<li><a href="#"><i class="fa fa-cc-mastercard"></i></a></li>
								<li><a href="#"><i class="fa fa-cc-discover"></i></a></li>
								<li><a href="#"><i class="fa fa-cc-amex"></i></a></li>
							</ul>
							<span class="copyright">
								<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
								Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
							<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
							</span>


						</div>
					</div>
						<!-- /row -->
				</div>
				<!-- /container -->
			</div>
			<!-- /bottom footer -->
		</footer>
		<!-- /FOOTER -->

		<!-- jQuery Plugins -->
		<script src="js/jquery.min.js"></script>
		<script src="js/bootstrap.min.js"></script>
		<script src="js/slick.min.js"></script>
		<script src="js/nouislider.min.js"></script>
		<script src="js/jquery.zoom.min.js"></script>
		<script src="js/main.js"></script>
		<script src="js/script.js"></script>

	</body>
</html>
