<!DOCTYPE html>
<html lang="pt-br">
<head>
    <base href='/cliente/'>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href="css/styleAdmin.css"/>
    <link rel="icon" href="./img/sunsoll.png">
    <title>Studio Soll Artesanatos Admin</title>
</head>
<body>
    <h1>EXCLUIR PRODUTOS</h1>
    <table>
        <thead>
          <tr>
            <th>Id</th>
            <th>Nome</th>
            <th>Categoria</th>
            <th>Foto</th>
            <th>Excluir</th>
          </tr>
        </thead>
        <tbody>
          <% Produtos.forEach(function(produto) { %>
            <tr>
              <td><%= produto._id %></td>
              <td><%= produto.nome %></td>
              <td><%= produto.categoria %></td>
              <td><img src="/admin/imgs/<%=produto.foto[0]%>" alt="Foto do Produto"></td>
              <td><a href="/delproduto/<%= produto._id %>"><button class="delete-btn">Excluir</button></a></td>
            </tr>
          <% }) %>
          
        </tbody>
      </table>
      
</body>
</html>